<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
    <header>
      <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
      <nav>
        <a href="{{ site.baseurl }}/events/">Events</a> |
        <a href="{{ site.baseurl }}/sponsors/">Sponsors</a> |
        <a href="{{ site.baseurl }}/news/">News</a>
      </nav>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      <p>&copy; 2025 DotNetDevs.at | <a href="{{ site.baseurl }}/impressum/">Impressum</a> | <a href="{{ site.baseurl }}/privacy/">Pricacy Policy</a></p>
    </footer>
  </body>
</html>
