/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: relative;
  border-bottom: 1px solid $border-color;
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
  z-index: 20;
  background-color: var(--masthead-background, $masthead-background-color) !important;

  &__inner-wrap {
    @include clearfix;
    margin-inline: auto;
    padding: 1em;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $max-width;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.site-logo img {
  max-height: 2rem;
}

.site-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  font-weight: bold;
  // z-index: 20;
}

.site-subtitle {
  display: block;
  font-size: $type-size-8;
}

.masthead__menu {
  float: inline-start;
  margin-inline: 0;
  width: 100%;
  clear: both;

  .site-nav {
    margin-inline-start: 0;

    @include breakpoint($small) {
      float: inline-end;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-inline-end: 2em;
    font-weight: 700;
  }
}

/* ==========================================================================
   Theme Toggle Button
   ========================================================================== */

.theme-toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-inline-start: 0.5em;
  padding: 0.5em;
  border: 0;
  outline: none;
  background-color: transparent;
  color: $masthead-link-color;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  
  &:hover {
    color: $masthead-link-color-hover;
  }
  
  &:focus {
    outline: 2px solid $masthead-link-color-hover;
    outline-offset: 2px;
    border-radius: 4px;
  }
  
  svg {
    width: 1.25em;
    height: 1.25em;
  }
  
  // Light mode: show moon, hide sun
  .theme-toggle__sun {
    display: none;
  }
  
  .theme-toggle__moon {
    display: block;
  }
}

// Dark mode: show sun, hide moon
[data-theme="dark"] .theme-toggle {
  .theme-toggle__sun {
    display: block;
  }
  
  .theme-toggle__moon {
    display: none;
  }
}
